{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block links %}
<script src="{% static 'accounts/js/message_hider.js' %}"></script>
{% endblock %}

{%block content %}
<div class="container forgotContainer col-md-10">
    <div class="consent-card shadow mt-3 p-3 bg-white rounded border">
        <div id="message">
            {% if my_messages %}
                {% if my_messages.error %}
                    <div class="mb-3 alert alert-danger" role="alert">
                        {{ my_messages.error }}
                    </div>
                {% endif %}
                {% if my_messages.success %}
                    <div class="mb-3 alert alert-success" role="alert">
                        {{ my_messages.success }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <form action="" method="post">
            <h2 class="mb-3 text-center">Forgot Password</h2>
            {% csrf_token %}
            <div class="col-md-12">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="col-md-12">
                {{form.password2|as_crispy_field}}
            </div>
            <div class="text-center">
                <input type="submit" value="Change Password" class="mt-4 btn btn-primary btnmedium">
            </div>
        </form>
    </div>
</div>
{% endblock %}