{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block links %}
{% if my_messages.success %}
<script>
    let opacity = 0
    let intervalID = 0
    const temp = () => {
        setInterval(hide, 200)
    }
    const hide = () => {
        let message = document.getElementById("message")
        opacity =
            Number(window.getComputedStyle(message).getPropertyValue("opacity"))

        if (opacity > 0) {
            opacity = opacity - 0.1;
            message.style.opacity = opacity
        }
        else {
            clearInterval(intervalID)
        }
    }
    const display = () => {
        let message = document.getElementById("message")
        message.style.display = "none"
    }
    const fadeout = () => {
        let height = window.innerHeight - 60
        document.getElementById("content").style.minHeight = height.toString() + "px"
        setTimeout(temp, 20000)
        setTimeout(display, 22000)
    }
    window.onload = () => {
        document.getElementById("note").style.display = "block"
        document.getElementById("submit").innerHTML = "Resend Email"
        fadeout()
    }
</script>
{% endif %}
{% endblock %}

{%block content %}
<div class="container forgotContainer col-md-10">
    <div class="consent-card shadow mt-3 p-3 bg-white rounded border">
        <div id="message">
            {% if my_messages %}
            <div class="mb-3 alert alert-success" role="alert">
                {{ my_messages.success }}
            </div>
            {% endif %}
        </div>
        <form action="" method="POST">
            <h3 class="mb-4 d-flex justify-content-around">Enter Username</h3>
            {% csrf_token %}
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        {{form.username|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary btnmedium" id="submit">Next</button>
            </div>
            <div class="d-flex justify-content-around mt-3">
                <p style="display: none;" id="note">
                    <strong>NOTE:</strong>
                    If you are unable to reset password by the above method,
                    {% if user_type == "Super Coordinators" %}
                    please contact the Developers for resetting your password.
                    {% elif user_type == "Coordinators" %}
                    please contact Super Coordinator for resetting your password.
                    {% elif user_type == "Parents" %}
                    please contact your child's organization's Coordinator for resetting your password.
                    {% else %}
                    please contact your organization's Coordinator for resetting your password.
                    {% endif %}
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}