{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block links %}
<script src="{% static 'accounts/js/message_hider.js' %}"></script>
<script src="{% static 'accounts/js/aadhar.js' %}"></script>
{% endblock %}

{%block content %}
{% if display_form %}
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded signup-card">
        <div class="mb-3" id="message">
            {% if my_messages %}
            <div class="mb-0 mt-2 alert alert-danger" role="alert">
                One or more questions were answered incorrectly! Only one attempt left!
            </div>
            {% endif %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <h2 class="mb-4">Forgot Password Questions</h2>
            {% if aadhar %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_aadhar">Enter your Aadhar Number<span class="asteriskField">*</span></label>
                    <input type="text" name="aadhar" onkeyup="addSpace(this)" maxlength="14"
                        class="textinput textInput form-control" id="id_aadhar" required>
                </div>
            </div>
            {% endif %}
            {% if mobile_no %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_mobile_no" class="requiredField">Enter your Mobile Number<span
                            class="asteriskField">*</span></label>
                    <input type="text" name="mobile_no" maxlength="10" class="textinput textInput form-control"
                        id="id_mobile_no" required>
                </div>
            </div>
            {% endif %}
            {% if dob %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_dob" class="requiredField">
                        Enter your Date Of Birth<span class="asteriskField">*</span>
                    </label>
                    <div class="input-group date">
                        <input type="text" name="dob" class="form-control datepickerinput form-control" required
                            id="id_dob">
                    </div>
                    <small id="hint_id_dob" class="form-text text-muted">Date Format: DD/MM/YYYY</small>
                </div>
            </div>
            {% endif %}
            {% if unique_no %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_unique_no" class="requiredField">
                        Enter your Unique Number<span class="asteriskField">*</span>
                    </label>
                    <input type="number" name="unique_no" class="numberinput form-control" required id="id_unique_no">
                </div>
            </div>
            {% endif %}
            {% if pincode %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_pincode" class="requiredField">
                        Enter your Pincode<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="pincode" maxlength="6" class="textinput textInput form-control" required
                        id="id_pincode">
                </div>
            </div>
            {% endif %}
            {% if student_username %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_username" class="requiredField">
                        Enter your Child's Username<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="student_username" required class="textinput textInput form-control"
                        id="id_student_username">
                    <small id="hint_id_student_username" class="form-text text-muted">If more than 1 child is
                        registered, enter username of anyone of them.</small>
                </div>
            </div>
            {% endif %}
            {% if student_aadhar %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_aadhar">Enter your Child's Aadhar Number<span
                            class="asteriskField">*</span></label>
                    <input type="text" name="student_aadhar" onkeyup="addSpace(this)" maxlength="14"
                        class="textinput textInput form-control" id="id_student_aadhar" required>
                    <small id="hint_id_student_aadhar" class="form-text text-muted">If more than 1 child is
                        registered, enter details of anyone of them who has provided their aadhar number.</small>
                </div>
            </div>
            {% endif %}
            {% if student_dob %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_dob" class="requiredField">
                        Enter your Child's Date Of Birth<span class="asteriskField">*</span>
                    </label>
                    <div class="input-group date">
                        <input type="text" name="student_dob" class="form-control datepickerinput form-control" required
                            id="id_student_dob">
                    </div>
                    <small id="hint_id_student_dob" class="form-text text-muted">Date Format: DD/MM/YYYY. If more than 1
                        child is registered, enter date of birth of anyone of them.</small>
                </div>
            </div>
            {% endif %}
            {% if student_unique_no %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_unique_no" class="requiredField">
                        Enter your Child's Unique Number<span class="asteriskField">*</span>
                    </label>
                    <input type="number" name="student_unique_no" class="numberinput form-control" required
                        id="id_student_unique_no">
                    <small id="hint_id_student_unique_no" class="form-text text-muted">If more than 1 child is
                        registered, enter unique number of anyone of them.</small>
                </div>
            </div>
            {% endif %}
            {% if student_mobile_no %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_mobile_no" class="requiredField">Enter your Child's Mobile Number<span
                            class="asteriskField">*</span></label>
                    <input type="text" name="student_mobile_no" maxlength="10" class="textinput textInput form-control"
                        id="id_student_mobile_no" required>
                    <small id="hint_id_student_mobile_no" class="form-text text-muted">If more than 1 child is
                        registered, enter details of anyone of them who has provided their mobile number.</small>
                </div>
            </div>
            {% endif %}
            {% if student_pincode %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_pincode" class="requiredField">
                        Enter your Child's Pincode<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="student_pincode" maxlength="6" class="textinput textInput form-control"
                        required id="id_student_pincode">
                    <small id="hint_id_student_pincode" class="form-text text-muted">If more than 1 child is
                        registered, enter pincode of anyone of them.</small>
                </div>
            </div>
            {% endif %}
            {% if student_email %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_student_email" class="requiredField">
                        Enter your Child's Email<span class="asteriskField">*</span>
                    </label>
                    <input type="email" name="student_email" class="emailinput form-control" id="id_student_email"
                        required>
                    <small id="hint_id_student_email" class="form-text text-muted">If more than 1 child is
                        registered, enter details of anyone of them who has provided their email.</small>
                </div>
            </div>
            {% endif %}
            {% if parent_username %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_parent_username" class="requiredField">
                        Enter your Parent's Username<span class="asteriskField">*</span>
                    </label>
                    <input type="text" name="parent_username" required class="textinput textInput form-control"
                        id="id_parent_username">
                    <small id="hint_id_parent_username" class="form-text text-muted">Enter details for the parent
                        registered along with your registration.</small>
                </div>
            </div>
            {% endif %}
            {% if parent_dob %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_parent_dob" class="requiredField">
                        Enter your Parent's Date Of Birth<span class="asteriskField">*</span>
                    </label>
                    <div class="input-group date">
                        <input type="text" name="parent_dob" class="form-control datepickerinput form-control" required
                            id="id_parent_dob">
                    </div>
                    <small id="hint_id_parent_dob" class="form-text text-muted">Date Format: DD/MM/YYYY. Enter details
                        for the parent registered along with your registration.</small>
                </div>
            </div>
            {% endif %}
            {% if parent_aadhar %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_parent_aadhar">Enter your Parent's Aadhar Number<span
                            class="asteriskField">*</span></label>
                    <input type="text" name="parent_aadhar" onkeyup="addSpace(this)" maxlength="14"
                        class="textinput textInput form-control" id="id_parent_aadhar" required>
                    <small id="hint_id_parent_aadhar" class="form-text text-muted">Enter details for the parent
                        registered along with your registration.</small>
                </div>
            </div>
            {% endif %}
            {% if parent_email %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_parent_email" class="requiredField">
                        Enter your Parent's Email<span class="asteriskField">*</span>
                    </label>
                    <input type="email" name="parent_email" class="emailinput form-control" id="id_parent_email"
                        required>
                    <small id="hint_id_parent_email" class="form-text text-muted">Enter details for the parent
                        registered along with your registration.</small>
                </div>
            </div>
            {% endif %}
            {% if parent_mobile_no %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_parent_mobile_no" class="requiredField">Enter your Parent's Mobile Number<span
                            class="asteriskField">*</span></label>
                    <input type="text" name="parent_mobile_no" maxlength="10" class="textinput textInput form-control"
                        id="id_parent_mobile_no" required>
                    <small id="hint_id_parent_mobile_no" class="form-text text-muted">Enter details for the parent
                        registered along with your registration.</small>
                </div>
            </div>
            {% endif %}
            {% if occupation %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_occupation" class="requiredField">
                        {% if user_type == "Parents" %}
                        Enter your Occupation
                        {% elif user_type == "Students" %}
                        Enter your Parent's Occupation
                        {% endif %}
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="occupation" class="select form-control" required id="id_occupation">
                        <option value="" selected>---------</option>
                        {% for this_occupation in occupation_list %}
                        <option value="{{ this_occupation }}">{{ this_occupation }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if edu %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_edu" class="requiredField">
                        {% if user_type == "Parents" %}
                        Enter your Education
                        {% elif user_type == "Students" %}
                        Enter your Parent's Education
                        {% endif %}
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="edu" class="select form-control" required id="id_edu">
                        <option value="" selected>---------</option>
                        {% for this_edu in edu_list %}
                        <option value="{{ this_edu }}">{{ this_edu }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if religion %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_religion" class="requiredField">
                        Enter your Religious Belief
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="religion" class="select form-control" required id="id_religion">
                        <option value="" selected>---------</option>
                        {% for this_religion in religion_list %}
                        <option value="{{ this_religion }}">{{ this_religion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if type_of_family %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_type_of_family" class="requiredField">
                        Enter your Type of Family
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="type_of_family" class="select form-control" required id="id_type_of_family">
                        <option value="" selected>---------</option>
                        {% for this_type_of_family in type_of_family_list %}
                        <option value="{{ this_type_of_family }}">{{ this_type_of_family }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if no_of_family_members %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_no_of_family_members" class="requiredField">
                        Enter Total Number of Family Members<span class="asteriskField">*</span>
                    </label>
                    <input type="number" name="no_of_family_members" class="numberinput form-control" required
                        id="id_no_of_family_members">
                </div>
            </div>
            {% endif %}
            {% if family_income %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_family_income" class="requiredField">
                        Enter your Total Family Income
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="family_income" class="select form-control" required id="id_family_income">
                        <option value="" selected>---------</option>
                        {% for this_family_income in family_income_list %}
                        <option value="{{ this_family_income }}">{{ this_family_income }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if ration_card_color %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_ration_card_color" class="requiredField">
                        Enter your Ration Card Color
                        <span class="asteriskField">*</span>
                    </label>
                    <select name="ration_card_color" class="select form-control" required id="id_ration_card_color">
                        <option value="" selected>---------</option>
                        {% for this_ration_card_color in ration_card_color_list %}
                        <option value="{{ this_ration_card_color }}">{{ this_ration_card_color }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="d-flex justify-content-around mt-3">
                <input type="submit" class="btn btn-primary btnmedium" value="Submit">
            </div>
        </form>
    </div>
</div>
{% elif attempts_exhausted %}
<h1 class="text-center mb-3">ACCESS DENIED!</h1>
<h5 class="text-center">
    You have exhausted the number of attempts to answer the questions correctly,
    {% if user_type == "Super Coordinators" %}
    please contact the Developers for resetting your password.
    {% elif user_type == "Coordinators" %}
    please contact Super Coordinator for resetting your password.
    {% elif user_type == "Parents" %}
    please contact your child's organization's Coordinator for resetting your password.
    {% else %}
    please contact your organization's Coordinator for resetting your password.
    {% endif %}
</h5>
{% else %}
<h1 class="text-center mb-3">FORGOT PASSWORD UNAVAILABLE!</h1>
<h5 class="text-center">
    {% if user_type == "Super Coordinators" %}
    Please contact the Developers for resetting your password. Your account currently isn't secure enough for
    using "forgot password" feature, we request you to increase the security of your account by adding email ID, aadhar
    card number and mobile number by editing your profile once you log in.
    {% elif user_type == "Coordinators" %}
    Please contact Super Coordinator for resetting your password. Your account currently isn't secure enough for
    using "forgot password" feature, we request you to increase the security of your account by adding email ID, aadhar
    card number and mobile number by editing your profile once you log in.
    {% elif user_type == "Teachers" %}
    Please contact your organization's Coordinator for resetting your password. Your account currently isn't secure
    enough for using "forgot password" feature, we request you to increase the security of your account by adding email
    ID, aadhar card number and mobile number by editing your profile once you log in.
    {% endif %}
</h5>
{% endif %}

{% endblock %}