{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags %}

{% block title %}
<title>Password Changed</title>
{% endblock %}

{%block content %}
<div class="d-flex justify-content-center">
    <div class="consent-card shadow p-5 mt-5 bg-white rounded border">
            <h2 class="mb-3 text-center">Password Changed Successfully!</h2>
            <form action="{% url 'accounts:loginlink' %}">
                <div class="text-center">
                    <input type="submit" value="Login" class="mt-4 btn btn-primary btnmedium">
                </div>
            </form>
        </form>
    </div>
</div>
{% endblock %}