# Ignoring everyones personal vscode setting
.vscode 

# Ignoring __pycache__
*__pycache__

# Ignoring environment files containg project key, db credentials and encryption key
.env

# Ignoring temp files created by celery
celerybeat-schedule
celerybeat-schedule.*
