{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}
{% load custom_filters %}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block title %}
<title>Super Coordinator Dashboard</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div id="message">
    {% if my_messages %}
    <div class="mb-3 alert alert-success" role="alert">
        {{ my_messages.success }}
    </div>
    {% endif %}
</div>

<center><h1>All Coordinators</h1></center>

<div class="item-container d-flex" id="parentCard">
{% for coordinator in coordinators %}
    <div class="my-card card shadow border rounded">
        <div class="card-body">
            <center><b><h3 class="card-title mb-3">{{ coordinator.fname }} {{ coordinator.lname }}</h3></b></center>
            <h6 class="card-text"><b>Mobile Number: </b> {{ coordinator.mobile_no }}</h6>
            <h6 class="card-text mb-3"><b>Email: </b> {{ coordinator.email }}</h6>
            <center><a class="btn btnmedium btn-danger" href="{% url 'accounts:all_coordinators' %}" data-toggle="modal" data-target="{{"#logoutModal"|addstr:coordinator.id}}">Delete User</a></center>
        </div>
    </div>
    <div class="modal fade" style="position:absolute; left:35%; width: 40%" id="{{"logoutModal"|addstr:coordinator.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">If you select "Delete" all associated session, teacher and student data will be lost.<br>Select "Switch Coordinator" below to replace the current coordinator and preserve all data.</div>
                <div class="modal-footer d-flex justify-content-around">
                    <button class="btn btn-secondary greybutton" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary btnmedium" href="{% url 'accounts:switch_coordinators_list' coordinator.id 2 %}">Switch Coordinator</a>
                    <a class="btn btn-danger btnmedium" href="{% url 'accounts:remove_coordinator' coordinator.id 2 %}">Ignore and Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}