{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<script src="{% static 'accounts/js/message_hider.js' %}"></script>
{% if my_messages %}
<script>
    location.href = "#message"
</script>
{% endif %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block title %}
<title>Students</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div id="message">
    {% if my_messages %}
        <div class="mb-3 alert alert-success" role="alert">
            {{ my_messages.success }}
        </div>
    {% endif %}
</div>

<center><h2 class="mb-3">Session Information</h2></center>
<div class="col-md-10 offset-md-1 mb-3">
    <ul class="list-group">
        <h6>
            <li class="list-group-item"><b>Name: </b>{{ session.name }}</li>
            <li class="list-group-item"><b>Start Date: </b>{{ session.start_date }}</li>
            {% if end_date == None %}
                <li class="list-group-item"><b>End Date: </b> Ongoing</li>
            {% else %}
                <li class="list-group-item"><b>End Date: </b>{{ session.end_date }}</li>
            {% endif %}
        </h6>
    </ul>
</div>

<center><h2>Students</h2></center>
{% if open_id == 1 %}
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'accounts:add_session_students' session.id %}" class="btn btn-info btnmedium me-3">Add Students via Bulk</a>
        <a href="{% url 'accounts:add_session_students_list' session.id %}" class="btn btn-info btnmedium">Add Students via List</a>
    </div>
{% endif %}

<div class="item-container d-flex" id="parentCard">
{% for student in students %}
    <div class="my-card card shadow border rounded">
        <div class="card-body">
            <center><b><h3 class="card-title mb-3">{{ student.fname }} {{ student.lname }}</h3></b></center>
            <h6 class="card-text mb-3"><b>Unique No: </b> {{ student.unique_no }}</h6>
            {% if open_id == 1 %}
            <center><a class="btn btnmedium btn-danger" href="{% url 'accounts:remove_session_student' session.id student.id %}">Remove</a></center>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}