{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{%block links %}
<script src="{% static 'accounts/js/message_hider.js' %}"></script>
{% if my_messages %}
<script>
    location.href = "#message"
</script>
{% endif %}
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="card shadow rounded bulkCard">
    <h2 class="mb-4">Reset Password</h2>
    <div class="col-md-12 mb-4 p-0">
        <h6 class="mb-3">Enter Teacher/Parent/Student's username whose password needs to be reset</h6>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    {{ form.username|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-warning btnmedium"><i class="fa fa-sync mr-1" aria-hidden="true"></i> Reset</button>
        </form>
        <div id="message">
            {% if my_messages %}
                {% if my_messages.error %}
                    <div class="mb-0 mt-2 alert alert-danger" role="alert">
                        {{ my_messages.error }}
                    </div>
                {% endif %}
                {% if my_messages.success %}
                    <div class="mb-0 mt-2 alert alert-success" role="alert">
                        {{ my_messages.success }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}