{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block title %}
<title>My Profile</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}

<center><h1>My Profile</h1></center>


<div class="d-flex flex-column align-items-center">
    <div class="my-profile-card card shadow border rounded mb-3">
        <img class="profile-pic mt-2" class="profile-pic" src={{request.user.coordinatorincharge.profile_pic.url}} >
        <div class="card-body">
            <table class="table table-striped"> 
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{ coordinator.fname }} {{ coordinator.mname }} {{ coordinator.lname }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>{{ coordinator.email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile Number</th>
                    <td>{{ coordinator.mobile_no }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Aadhar Card Number</th>
                    <td>{{ coordinator.aadhar }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date Of Birth</th>
                    <td>{{ coordinator.dob }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Gender</th>
                    <td>{{ coordinator.gender }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Organization</th>
                    <td>{{ coordinator.organization }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'accounts:edit_coordinator_profile' %}" class="btn btn-primary btnmedium">Edit</a>
</div>    

{% endblock %}